---
project: "gitaly-benchmark-0150d6cf"
gitaly_machine_type: "t2d-standard-4"
client_machine_type: "n1-standard-1"
os_image: "ubuntu-os-cloud/ubuntu-2204-lts"
repository_disk_type: "pd-balanced"
boot_disk_size: 20
benchmark_region: "us-central1"
benchmark_zone: "us-central1-a"

# Enable to use regional persistent disk https://cloud.google.com/compute/docs/disks/regional-persistent-disk
# Regional PD is supported on only E2, N1, N2, and N2D machine type VMs.
use_regional_disk: false
# One of these zones must be the zone for benchmark_zone
regional_disk_replica_zones: ["us-central1-a", "us-central1-b"]
