go 1.18

use (
	.
	./client
	./proto
	./structerr
)

replace (
	gitlab.com/gitlab-org/gitaly/client/v15 v15.9.0-rc3 => ./client
	gitlab.com/gitlab-org/gitaly/proto/v15 v15.9.0-rc3 => ./proto
	gitlab.com/gitlab-org/gitaly/structerr/v15 v15.9.0-rc3 => ./structerr
)
