---
gitaly_revision: "{{ gitaly_revision }}"
rpcs:
  - description: Get default branch HEAD
    rpc: FindCommit
    service: gitaly.CommitService
    proto: commit.proto
    repos:
      - git.git
  - description: Create a backup
    rpc: BackupRepository
    service: gitaly.RepositoryService
    proto: repository.proto
    repos:
      - git.git
